#main_info{
    display: flex;
}

#info_text{
    display: flex;
    justify-content: flex-start;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    width: 52%;
}
#info_text span{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}
#num_info{
    margin-top: 20px;
}
.num_text{
    margin: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 514px;
}
#number{
    margin: 35px 0 0 90px;
    width: 323px;

    background: #D9D9D9;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.3);
    border-radius: 19px;
    padding: 10px;
}
.cards{
    background: #BFBFBF;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 329px;
    padding: 32px 0 23px 0;
}

.text_cards{
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    width: 260px;
    margin: 14px 0;
}
.sell_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FF0000;
    border-radius: 9px;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    width: 34%;
    padding: 5px 11px;
}

.card_line{
    margin-top: 59px;
    display: flex;
    gap: 5%;
}

#main_sell p{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin: 59px 0;
}
#main_sell li{
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    margin-left: 30px;
}

#footer{
    background: #0B3900;
}
#footer p{
    padding: 32px 0;
    color: #FFFFFF;
    margin: 0;
    margin-top: 81px;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
}

#main_link{
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    margin: 59px 0;
}

#main_link span{
    color: blue;
}

.title_main{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 59px;
}

#title_main{
    font-weight: 500;
font-size: 36px;
line-height: 44px;
margin-bottom: 59px;
}



@media screen and (max-width:1199px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1199px){

}
@media screen and (max-width: 991px){
    .container{
        width: 702px;
    }
    #main_info{
        flex-direction: column;
    }
    #main_link{
        margin-left: 5%;
    }
    .title_main{
        margin-left: 5%;
    }
    #info_text{
        margin-left: 5%;
        text-align: center;
        width: 90%;
    }
    .num_text{
        width: 90%;
        margin: 0 auto;
    }
    #number{
        margin: 35px auto;
    }
    .card_line{
        flex-direction: column;

    }
    .cards{
        margin: 15px auto;
    }
}
@media screen and (max-width: 767px){
    .container{
        width: 540px;
    }
    
}
@media screen and (max-width: 575px){
    .container{
        width: 90%;
    }

}
